
      <nb-card>
        <nb-card-header>
            <div class="row">
                <div class="col-4">{{ nombreEmpresa }}</div>
            </div>
        </nb-card-header>
        <nb-card-body>

        </nb-card-body>
    </nb-card>
