<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <nb-card>
          <nb-card-header>
            Redes secas/humedas
          </nb-card-header>
          <nb-card-body>
            <table class="table table-inverse" style="width:100%;">
              <thead class="thead-inverse">
    
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">Red 1</td>
                    <td>Seca</td>
                    <td>Planta 1</td>
                    <td>Bodegas</td>
                    <td>Bodegas</td>
                    <td> <a href="#">Editar</a></td>
                  </tr>
                  <tr>
                    <td scope="row">Red 1</td>
                    <td>Seca</td>
                    <td>Planta 1</td>
                    <td>Bodegas</td>
                    <td>Bodegas</td>
                    <td> <a href="#">Editar</a></td>
                  </tr>
    
                  <tr>
                    <td scope="row">Red 1</td>
                    <td>Seca</td>
                    <td>Planta 1</td>
                    <td>Bodegas</td>
                    <td>Bodegas</td>
                    <td> <a href="#">Editar</a></td>
                  </tr>
    
                  <tr>
                    <td scope="row">Red 1</td>
                    <td>Seca</td>
                    <td>Planta 1</td>
                    <td>Bodegas</td>
                    <td>Bodegas</td>
                    <td> <a href="#">Editar</a></td>
                  </tr>
    
                  <tr>
                    <td scope="row">Red 1</td>
                    <td>Seca</td>
                    <td>Planta 1</td>
                    <td>Bodegas</td>
                    <td>Bodegas</td>
                    <td> <a href="#">Editar</a></td>
                  </tr>
    
                  <tr>
                    <td scope="row">Red 1</td>
                    <td>Seca</td>
                    <td>Planta 1</td>
                    <td>Bodegas</td>
                    <td>Bodegas</td>
                    <td> <a href="#">Editar</a></td>
                  </tr>
    
                  <tr>
                    <td scope="row">Red 1</td>
                    <td>Seca</td>
                    <td>Planta 1</td>
                    <td>Bodegas</td>
                    <td>Bodegas</td>
                    <td> <a href="#">Editar</a></td>
                  </tr>
    
                </tbody>
            </table>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    </div>
    
    