<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-8">
      <nb-card>
        <nb-card-header>

<div class="row">
  <div class="col-8">
    Redes secas/humedas
  </div>
  <div class="col-4 rigth">
    <p (click)="open(mymodal)">agregar</p>
  </div>
</div>
        </nb-card-header>
        <nb-card-body>
          <table class="table table-inverse" style="width: 100%">
            <thead class="thead-inverse"></thead>
            <tbody>
              <tr *ngFor="let item of redes" >
                <td>{{ item.planta }}</td>
                <td>{{ item.sector }}</td>
                <td>{{ item.ubicacion }}</td>
                <td>{{ item.codigo }}</td>
                <td><span (click)="eliminar(item)">Eliminar</span></td>
              </tr>
            </tbody>
          </table>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-12 col-md-4">
      <img
      src="https://programadibujar.com/wp-content/uploads/2017/12/dibujarplanos.jpg"

      alt="" style="max-width: 100%; max-height: auto;"
      (click)="open(mymodal2)"
    />
    <!--
      <div style="position: relative">
        <div style="position: absolute; left: 40px; top: 30px" *ngIf="control">

          <img
            style="max-height: 32px"
            src="https://image.flaticon.com/icons/png/512/63/63826.png"
            alt=""
          />
        </div>
        <div
          style="position: absolute; left: 280px; top: 30px"
          *ngIf="!control"
        >
          <img
            style="max-height: 32px"
            src="https://image.flaticon.com/icons/png/512/63/63826.png"
            alt=""
          />

        </div>
      </div>
    -->
    </div>
  </div>
</div>
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <span class="modal-title" id="modal-basic-title">Registrar Red</span>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <ngx-agregar></ngx-agregar>
  </div>
</ng-template>
<ng-template #mymodal2 let-modal >
  <div class="modal-body">
    <img
    src="https://programadibujar.com/wp-content/uploads/2017/12/dibujarplanos.jpg"
    alt=""
  />
  </div>
</ng-template>
