<div class="row">
<div class="col-12" style="max-width:100%; overflow-x: scroll;">
  <nb-stepper #stepper  style="width: 80%;">
    <nb-step  label="Planta" >
      <form [formGroup]="formularioPlantas"  class="step-container">
        <div class="input-group">
                 <select class="form-control" formControlName="inputPlanta" style="width:100%;" >
                  <option *ngFor="let item of plantas" [ngValue]="item.nombre">{{item.nombre}}</option>
                 </select>
        </div>
        <br>
        <button nbButton nbStepperNext (click)="validarPlanta()">Siguiente</button>
      </form>
    </nb-step>
    <nb-step label="Sector">
      <form [formGroup]="formularioSectores"  class="step-container">
        <div class="input-group">
                 <select class="form-control" formControlName="inputSector" style="width:100%;" >
                  <option *ngFor="let item of sectores" [ngValue]="item.nombre">{{item.nombre}}</option>
                 </select>
        </div>
        <br>
        <button nbButton nbStepperNext (click)="validarSector()">Siguiente</button>
      </form>
    </nb-step>
    <nb-step  label="Habitacion">
      <form [formGroup]="formularioUbicaciones"  class="step-container">
        <div class="input-group">
                 <select class="form-control" formControlName="inputUbicacion" style="width:100%;" >
                  <option *ngFor="let item of ubicaciones" [ngValue]="item.nombre">{{item.nombre}}</option>
                 </select>
        </div>
        <br>
        <button nbButton nbStepperNext (click)="validarUbicacion()">Siguiente</button>
      </form>
    </nb-step>
    <nb-step  label="Datos">
      <form [formGroup]="FormularioDatos"  class="step-container">
        <div class="input-group">
          <label>Codigo</label>
                 <input type="text" class="form-control" formControlName="inputCodigo" style="width:100%;" >
        </div>
        <div class="input-group">
          <label>Tipo</label>
          <select class="form-control" formControlName="inputTipo" style="width:100%;" >
            <option>Seca</option>
            <option>Humeda</option>
           </select>
        </div>
        <div class="input-group">
          <label>Mantencion</label>
          <input type="date" class="form-control" formControlName="inputFechaMantencion" style="width:100%;" >
        </div>
        <br>
        <button nbButton nbStepperNext (click)="validarDatos()">Siguiente</button>
      </form>
    </nb-step>
    <nb-step [hidden]="true" label="Third step">
      <div class="step-container">
        <button nbButton (click)="stepper.reset()">Cancelar</button>
        <button nbButton (click)="Guardar(stepper.reset())" class="btn-success" >Guadar</button>
      </div>
    </nb-step>

  </nb-stepper>

</div>

</div>

