<div class="row">
    <div class="col-6 formContol">
        <label>Nombre</label>
        <input type="text" nbInput fullWidth fieldSize="small" placeholder="Small Input">
    </div>
    <div class="col-6 formContol">
        <label>Apellido</label>
        <input type="text" nbInput fullWidth fieldSize="small" placeholder="Small Input">
    </div>
    <div class="col-6 formContol">
        <label>Rut</label>
        <input type="number" nbInput fullWidth fieldSize="small" placeholder="Small Input">
    </div>
    <div class="col-6 formContol">
        <label>Email</label>
        <input type="number" nbInput fullWidth fieldSize="small" placeholder="Small Input">
    </div>
    <div class="col-6 formContol">
        <label>Pass</label>
        <input type="number" nbInput fullWidth fieldSize="small" placeholder="Small Input">
    </div>
    <div class="col-6 formContol">
        <label>Re-Pass</label>
        <input type="number" nbInput fullWidth fieldSize="small" placeholder="Small Input">
    </div>
    <div class="col-6 formContol">

    </div>
    <div class="col-6 formContol text-right">

        <input type="button" value="Registrar" class="btn btn-primary">
    </div>
    </div>