<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-4">Usuarios</div>
            <div class="col-4 offset-4 text-right "><label (click)="cargarAgregar();">Agregar</label> 
            </div>

        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div [class]="divTabla">
                <table class="table table-striped">
                    <thead>
                        <th>Nombre</th>
                        <th>Rut</th>
                        <th>Email</th>
                        <th>Rol</th>
                        <th></th>
                    </thead>
                    <tbody *ngFor="let usuario of datosPrueba">

                        <td>
                            {{usuario.nombre}}
                        </td>
                        <td>
                            {{usuario.rut}}
                        </td>
                        <td>
                            {{usuario.email}}
                        </td>
                        <td>
                            {{usuario.rol}}
                        </td>
                        <td>
                            editar
                        </td>

                    </tbody>
                </table>
            </div>
            <div [class]="divAgregar" [style]="styleAgregar">
                <div class="row">
                    <div class="col-12">
                        <label>Registrar</label>

                    </div>
                    <div class="col-12">
                        <label>Nombre</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-12">
                        <label>Rut</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-12">
                        <label>Email</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-12">
                        <label>Password</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-12">
                        <label>Rol</label>
                        <select class="form-control">
                            <option>Rol 1</option>
                            <option>Rol 2</option>
                            <option>Rol 3</option>
                        </select>
                    </div>
                    <div class="col-12" style="margin-top: 20px;">
                        <div class="row">
                            <div class="col-6">
                                <input type="submit" class="btn btn-light" value="Registrar">
                            </div>
                            <div class="col-6">
                                <input type="button" (click)="cancelarAgregar();"class="btn btn-light" value="Cancelar">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>