<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                <div class="row">
                    <div class="col-4">Trabajadores</div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <table class="table table-striped table-inverse table-responsive">
                  <thead class="thead-inverse">
                    <tr>
                      <th>Rut</th>
                      <th>Nombre</th>
                      <th>Apellidos</th>
                      <th>Fono</th>
                      <th>Cargo</th>
                      <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let trabajador of trabajadores">
                      <tr>
                        <td >{{trabajador.nombre}}</td>
                        <td >{{trabajador.apellidoPaterno }} {{trabajador.apellidoMaterno}}</td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                </table>
            </nb-card-body>
        </nb-card>

    </div>
</div>
