

<nb-card>
  <nb-card-body >

      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="nombre">Nombres</label>
            <input type="text"
              class="form-control" name="" id="nombre" aria-describedby="helpId" placeholder="">
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="nombre">Rut</label>
            <input type="text"
              class="form-control" name="" id="nombre" aria-describedby="helpId" placeholder="">
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="nombre">Giro</label>
            <input type="text"
              class="form-control" name="" id="nombre" aria-describedby="helpId" placeholder="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="nombre">Email</label>
            <input type="text"
              class="form-control" name="" id="nombre" aria-describedby="helpId" placeholder="">
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="nombre">Fono</label>
            <input type="text"
              class="form-control" name="" id="nombre" aria-describedby="helpId" placeholder="">
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="nombre">Fono 2</label>
            <input type="text"
              class="form-control" name="" id="nombre" aria-describedby="helpId" placeholder="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="nombre">Region</label>
            <select class="form-control">
              <option>
                Ciudad 1
              </option>
              <option>
                Ciudad 2
              </option>
              <option>
                Ciudad 3
              </option>
              </select>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="nombre">Ciudad</label>
            <select class="form-control">
              <option>
                Ciudad 1
              </option>
              <option>
                Ciudad 2
              </option>
              <option>
                Ciudad 3
              </option>
              </select>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label for="nombre">Direccion</label>
            <input type="text"
              class="form-control" name="" id="nombre" aria-describedby="helpId" placeholder="">
          </div>
        </div>

      </div>

      <div class="row">
        <div class="offset-md-8 col-4 col-12">
          <input class="btn btn-primary" value="Registrar">
        </div>
      </div>
  </nb-card-body>
</nb-card>
