<nb-card>
    <nb-card-body >
  <form [formGroup]="formulario">
  
  
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label for="nombre">Nombres</label>
              <input type="text"
                class="form-control" formControlName="nombre" id="nombre" aria-describedby="helpId" placeholder="">
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label for="nombre">Rut</label>
              <input type="text"
                class="form-control"  formControlName="rut" id="nombre" aria-describedby="helpId" placeholder="">
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label for="nombre">fono</label>
              <input type="text"
                class="form-control" formControlName="fono" name="" id="nombre" aria-describedby="helpId" placeholder="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label for="nombre">Direccion</label>
              <input type="text"
                class="form-control" formControlName="direccion" id="nombre" aria-describedby="helpId" placeholder="">
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label for="nombre">Descripcion</label>
              <input type="text"
                class="form-control" formControlName="descripcion" id="nombre" aria-describedby="helpId" placeholder="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label for="nombre">Cuartel</label>
              <select class="form-control" formControlName="cuartel">
                <option>
                 Osorno centro
                </option>
                <option>
                Osorno rahue
                </option>
                </select>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label for="nombre">Ciudad</label>
              <select class="form-control" formControlName="ciudad">
                <option>
                  Osorno
                </option>
                <option>
                  Temuco
                </option>
                <option>
                  Valdivia
                </option>
                </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="offset-md-8 col-4 col-12">
            <input type="button" class="btn btn-primary" value="Registrar" (click)="doSomething()" >
          </div>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
  