<div class="row">
    <div class="col-lg-6 col-12">
        <nb-card>
            <nb-card-header>Usuario</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <label>Nombre</label>
                        <input type="text" nbInput fullWidth shape="semi-round" placeholder="Nombre"
                            style="background-color: white;" value="Bruno">
                    </div>
                    <div class="col-12 col-md-6">
                        <label>Apellidos</label>
                        <input type="text" nbInput fullWidth shape="semi-round" placeholder="Apellido"
                            style="background-color: white;" value="Villalobos">
                    </div>
                </div>
                <div class="row" style="margin-top:5px;">
                    <div class="col-12 col-md-6">
                        <label>Email</label>
                        <input type="text" nbInput fullWidth shape="semi-round" placeholder="Nombre"
                            style="background-color: white;" value="admin@pladem.cl">
                    </div>
                    <div class="col-12 col-md-6">
                        <label>Fono</label>
                        <input type="text" nbInput fullWidth shape="semi-round" placeholder="Apellido"
                            style="background-color: white;" value="+569985668">
                    </div>
                </div>
                <div class="row" style="margin-top:5px;">
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <label for="">Foto</label>
                            <input type="file" class="form-control-file" name="" id="" placeholder=""
                                aria-describedby="fileHelpId">
                            <small id="fileHelpId" class="form-text text-muted">Help text</small>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6 col-12">
        <nb-card>
            <nb-card-header>Configuracion</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="demo-items">
                            <nb-checkbox [value]="true">Notificaciones</nb-checkbox>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="demo-items">
                            <nb-checkbox [value]="true">Sonido</nb-checkbox>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="demo-items">
                            <nb-checkbox [value]="true">Tooltips</nb-checkbox>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="demo-items">
                            <nb-checkbox [value]="true">Asistente</nb-checkbox>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>