<div class="row">
  <div class="col-6">
<nb-card>
    <nb-card-body >
    <div class="list-group">
      <div href="#" class="list-group-item list-group-item-action " aria-current="true" *ngFor="let cuartel of cuarteles">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{cuartel.nombre}}</h5>
          <small>{{cuartel.ciudad}} / {{cuartel.direccion}}</small>
        </div>
        <p class="mb-1">Texto de descripcion del cuartel, queda por definir el contenido</p>
        <small>( {{cuartel.fono}} )</small>
      </div>
      </div>
    </nb-card-body>
</nb-card>
</div>
</div>
