<nb-card>
  <nb-card-body >

      <div class="row">
        <div class="col-12">
          <nb-search type="rotate-layout"> </nb-search><label>buscar...</label>
        </div>
          <div class="col-12">
            <table class="table table-hover table-inverse">
              <thead class="thead-inverse">
                </thead>
                <tbody>
                  <tr *ngFor="let bombero of bomberos">
                    <td> <nb-icon icon="calendar-outline" (click)="cargarPlanEmergencia(bombero.id,bombero.nombre)"></nb-icon>
                      <nb-icon icon="file-text-outline" ></nb-icon>
                      <nb-icon icon="trash-2-outline" (click)="onDeleteConfirm(bombero)"></nb-icon></td>
                    <td>{{bombero.nombre}}</td>
                    <td>{{bombero.ciudad}}</td>
                    <td>{{bombero.fono}}</td>
                    <td>{{bombero.descripcion}}</td>
                    <td> <span class="badge badge-ligth"><nb-icon icon="checkmark-square-outline" (click)="onDeleteConfirm(bombero)"></nb-icon>basica</span>
                      <span class="badge badge-ligth"><nb-icon icon="person-outline" (click)="onDeleteConfirm(bombero)"></nb-icon>40</span></td>
                  </tr>
                </tbody>
            </table>

          </div>

      </div>
  </nb-card-body>
</nb-card>
