<div class="row">
    <div class="col-12 col-md-4">
      <nb-card>
        <nb-card-header>
          Ubicacion
        </nb-card-header>
        <nb-card-body>
          <nb-stepper #stepper>
            <nb-step [stepControl]="firstForm" label="Planta">
              <form [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()" class="step-container">
                <div class="input-group">
                         <nb-select selected="2" formControlName="firstCtrl" style="width:100%;">
                          <nb-option value="1">1-</nb-option>
                          <nb-option value="2">1er Piso</nb-option>
                          <nb-option value="3">2do Piso</nb-option>
                          <nb-option value="4">3er Piso</nb-option>
                        </nb-select>
                </div>
                <br>
                <button nbButton nbStepperNext>Siguiente</button>
              </form>
            </nb-step>
            <nb-step [stepControl]="secondForm" label="Sector">
              <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()" class="step-container">
                <div class="input-group">
    
                         <nb-select selected="2" formControlName="secondCtrl" style="width:100%;">
                          <nb-option value="1">Bodegas</nb-option>
                          <nb-option value="2">Sala de ventas</nb-option>
                          <nb-option value="3">Administracion</nb-option>
                          <nb-option value="4">Calderas</nb-option>
                        </nb-select>
    
                </div>
                <br>
                <button nbButton nbStepperPrevious>Anterior</button>
                <button nbButton nbStepperNext>Siguiente</button>
              </form>
            </nb-step>
            <nb-step [stepControl]="thirdForm" label="Habitacion">
              <form [formGroup]="thirdForm" (ngSubmit)="onThirdSubmit()" class="step-container">
                <div class="input-group">
                         <nb-select selected="2" formControlName="thirdCtrl" style="width:100%;">
                          <nb-option value="1">Bodegas</nb-option>
                          <nb-option value="2">Sala de ventas</nb-option>
                          <nb-option value="3">Administracion</nb-option>
                          <nb-option value="4">Calderas</nb-option>
                        </nb-select>
                </div>
                <br>
                <button nbButton nbStepperPrevious>Volver</button>
                <button nbButton nbStepperNext>Seleccionar</button>
              </form>
            </nb-step>
            <nb-step [stepControl]="thirdForm" [hidden]="true" label="Third step">
              <div class="step-container">
                <button nbButton (click)="stepper.reset()">Cancelar</button>
              </div>
            </nb-step>
          </nb-stepper>
    
        </nb-card-body>
      </nb-card>
    
    </div>
    <div class="col-12 col-md-8">
      <nb-card>
        <nb-card-header>
          Datos
        </nb-card-header>
        <nb-card-body>
          <nb-stepper #stepper>
            <nb-step [stepControl]="firstForm" label="Nombre">
              <form [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()" class="step-container">
                <div class="input-group">
                         <input type="text" class="form-control" placeholder="Ingrese el nombre" formControlName="firstCtrl">
                </div>
                <br>
                <button nbButton nbStepperNext>Siguiente</button>
              </form>
            </nb-step>
            <nb-step [stepControl]="secondForm" label="Tipo">
              <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()" class="step-container">
                <div class="input-group">
    
                         <nb-select selected="2" formControlName="secondCtrl" style="width:100%;">
                          <nb-option value="1">Seca</nb-option>
                          <nb-option value="2">Humeda</nb-option>
                        </nb-select>
    
                </div>
                <br>
                <button nbButton nbStepperPrevious>Anterior</button>
                <button nbButton nbStepperNext>Siguiente</button>
              </form>
            </nb-step>
            <nb-step [stepControl]="thirdForm" label="Mantencion">
              <form [formGroup]="thirdForm" (ngSubmit)="onThirdSubmit()" class="step-container">
                <div class="input-group">
                  <div class="input-group" >
                    <input type="date" formControlName="thirdCtrl" class="form-control" placeholder="Ingrese el nombre">
                  </div>
    
                </div>
                <br>
                <button nbButton nbStepperPrevious>Volver</button>
                <button nbButton nbStepperNext>Seleccionar</button>
              </form>
            </nb-step>
            <nb-step [stepControl]="thirdForm" [hidden]="true" label="Third step">
              <div class="step-container">
                <button nbButton (click)="stepper.reset()">Cancelar</button>
                <button nbButton [status]="status" hero (click)="this.showToast(status, mensaje.title, mensaje.body);">
                 Registrar
                </button>
              </div>
            </nb-step>
          </nb-stepper>
    
        </nb-card-body>
      </nb-card>
    
    </div>
    </div>
    
