<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                <div class="row">
                    <div class="col-4">Plantas</div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-12">
                        <ng2-smart-table [settings]="configuracionPlantas" (userRowSelect)="cargarPlano($event)"
                            [source]="source" (deleteConfirm)="onDeleteConfirm()" nbTooltip="Haga click para cargar el mapa" nbTooltipPlacement="top">
                        </ng2-smart-table>
                        <ng-container *ngIf="!isReady">
                          <div class="progress">
                            <div class="progress-bar"
                                 role="progressbar"
                                 [style.width.%]="progress*100"
                                 [attr.aria-valuenow]="progress*100"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                          </div>
                          <hr />
                        </ng-container>
                        <div #unityEl  id="gameContainer"
     style="display: block; width: 100%; min-height: 0px; margin: auto"></div>
                    </div>
                </div>
                <div class="row" style="margin-top:15px;">
                    <div class="col-12 col-md-6">
                        <nb-card>
                            <nb-card-header>
                                <div class="row">
                                    <div class="col-4">Sectores</div>
                                </div>
                            </nb-card-header>
                            <nb-card-body>
                            </nb-card-body>
                            <ng2-smart-table [settings]="configuracionSectores" (userRowSelect)="cargarPlano($event)"
                                [source]="sourceSourceSectores" (deleteConfirm)="onDeleteConfirm()" nbTooltip="Haga click para ver el sector" nbTooltipPlacement="top">
                            </ng2-smart-table>
                        </nb-card>
                    </div>

                <div class="col-6 col-md-6" style="border-left: 2px; border-left-color: gray;">
                    <nb-card>
                        <nb-card-header>
                            <div class="row">
                                <div class="col-4">Habitaciones</div>
                            </div>
                        </nb-card-header>
                        <nb-card-body>
                            <ng2-smart-table [settings]="configuracionHabitaciones"
                                (userRowSelect)="cargarPlano($event)" [source]="sourceHabitaciones"
                                (deleteConfirm)="onDeleteConfirm()" nbTooltip="Haga click para cargar una habitación" nbTooltipPlacement="top">
                            </ng2-smart-table>
                        </nb-card-body>
                    </nb-card>
                </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<ng-template #contentTemplate let-data>
    <p>Here is the text provided via config: "{{ data.text }}"</p>
</ng-template>

<ng-template #disabledEsc style="max-height: 50%;">
    <img style="max-height: 800px;" src="https://www.delineacionesmajan.es/images/planos2d/original/09.jpg"
        class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
</ng-template>
